body {
    background-color: rgb(17, 17, 17);
}

.tops {
    text-align: center;
    color: white;
}

.tops h1 {
    font-family: 'Honk', system-ui;
    font-size: xx-large;
}

.tops p {
    font-family: 'Single Day', cursive;
    font-size: large;
}


.forms
{
    border: 1px solid white;
    border-radius: 10px;
    margin: auto;
    width: 60%;
    color: white;
}


.typing-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.terminal {
    font-family: 'Courier New', monospace;
    color: #00ff00;
    width: 80%;
    max-width: 800px;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 10px;
    border: 1px solid #00ff00;
    overflow: hidden;
    position: relative;
}

.output, .input {
    padding: 10px;
    white-space: pre-wrap;
    overflow-y: auto;
}

.blinking-cursor {
    user-select: none;
    animation: blink 0.8s steps(1) infinite;
}

.side-by-side-containers {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.box1, .box2 {
    width: 48%;
    background-color: rgba(7, 7, 7, 0.815);
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.box1 p, .box2 p {
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

.box1, .box2 h2
{
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;

}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

canvas#ghost {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 10000;
    pointer-events: none;
}

.page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 4vw;
    text-shadow: 0 0 5px #000000;
}

.lil-gui {
    --width: 300px;
    max-width: 90%;
    --widget-height: 20px;
    font-size: 15px;
    --input-font-size: 15px;
    --padding: 10px;
    --spacing: 10px;
    --slider-knob-width: 5px;
    --background-color: rgba(5, 0, 15, .8);
    --widget-color: rgba(255, 255, 255, .3);
    --focus-color: rgba(255, 255, 255, .4);
    --hover-color: rgba(255, 255, 255, .5);
    --font-family: monospace;
    z-index: 1;
}
